<div class="container-fluid">
  <h1>New Database</h1>
</div>

<div class="container-fluid">
  <%= render 'form', database: @database %>
</div>
<div class="container-fluid">
  <%= link_to 'Back', databases_path %>
</div>
